PANDAS - STANDS FOR PANEL DATA
---
## Core Data Structures in Pandas
- Pandas is built on two main data structures:
- Series → One-dimensional (like a single column in Excel)
- DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

In [6]:
import pandas as pd

## Series — 1D Labeled Array
### - A Series is like a list with labels (index).

In [7]:
s = pd.Series([13,63,28,42])
print(s)

0    13
1    63
2    28
3    42
dtype: int64

In [8]:
MarksData = pd.Series([84, 73, 58, 93, 87], index = ["Krish","Ravi","Vidhan","Harshal","Rishabh"])

In [9]:
MarksData

Krish      84
Ravi       73
Vidhan     58
Harshal    93
Rishabh    87
dtype: int64

--- 
## DataFrame — 2D Labeled Table
### - A DataFrame is like a dictionary of Series — multiple columns with labels.

In [10]:
data = {
"name": ["Alice", "Bob", "Charlie"],
"age": [25, 30, 35],
"city": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)

In [11]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore