In [1]:
import pandas as pd 

df = pd.read_csv("data.csv")

In [2]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [3]:
# selecting columns 

df['Actor']

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [6]:
df[['Film','BoxOffice(INR Crore)']]

                        Film  BoxOffice(INR Crore)
0                    Pathaan                  1050
1            Tiger Zinda Hai                   565
2                     Dangal                  2024
3                 Brahmastra                   431
4                  Padmaavat                   585
5                  Andhadhun                   111
6                      Stree                   180
7                        War                   475
8                 Good Newwz                   318
9          Bhool Bhulaiyaa 2                   266
10     Badrinath Ki Dulhania                   201
11  Uri: The Surgical Strike                   342

### Selecting Rows by Index
- Use .loc[] (label-based) and .iloc[] (position-based):

In [8]:
df.loc[3,'Genre']

'Fantasy'

In [9]:
df.loc[5]

Actor                   Ayushmann Khurrana
Film                             Andhadhun
Year                                  2018
Genre                             Thriller
BoxOffice(INR Crore)                   111
IMDb                                   8.3
Name: 5, dtype: object

In [10]:
df.loc[2]

Actor                   Aamir Khan
Film                        Dangal
Year                          2016
Genre                    Biography
BoxOffice(INR Crore)          2024
IMDb                           8.4
Name: 2, dtype: object

In [11]:
df.loc[9]

Actor                       Kartik Aaryan
Film                    Bhool Bhulaiyaa 2
Year                                 2022
Genre                       Horror Comedy
BoxOffice(INR Crore)                  266
IMDb                                  5.9
Name: 9, dtype: object

In [13]:
# Using iloc[] - index location?

df.iloc[2,4]

2024

In [14]:
df.iloc[9]

Actor                       Kartik Aaryan
Film                    Bhool Bhulaiyaa 2
Year                                 2022
Genre                       Horror Comedy
BoxOffice(INR Crore)                  266
IMDb                                  5.9
Name: 9, dtype: object

In [16]:
# create a copy to understand 

df2 = df[['Actor','Film']].copy()

In [17]:
df2

                 Actor                      Film
0       Shah Rukh Khan                   Pathaan
1          Salman Khan           Tiger Zinda Hai
2           Aamir Khan                    Dangal
3        Ranbir Kapoor                Brahmastra
4        Ranveer Singh                 Padmaavat
5   Ayushmann Khurrana                 Andhadhun
6        Rajkummar Rao                     Stree
7       Hrithik Roshan                       War
8         Akshay Kumar                Good Newwz
9        Kartik Aaryan         Bhool Bhulaiyaa 2
10        Varun Dhawan     Badrinath Ki Dulhania
11       Vicky Kaushal  Uri: The Surgical Strike

## NOTE - iloc[] works like indexing , so it's end value is always n-1 while loc is human-like

In [22]:
#using slice operations using it 

df.iloc[0:5,2:5]

   Year       Genre  BoxOffice(INR Crore)
0  2023      Action                  1050
1  2017      Action                   565
2  2016   Biography                  2024
3  2022     Fantasy                   431
4  2018  Historical                   585

In [23]:
df.loc[0:5,['Year','Genre','BoxOffice(INR Crore)']]

   Year       Genre  BoxOffice(INR Crore)
0  2023      Action                  1050
1  2017      Action                   565
2  2016   Biography                  2024
3  2022     Fantasy                   431
4  2018  Historical                   585
5  2018    Thriller                   111

### Fast Access: .at and .iat
- These are optimized for single element access:

In [24]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [26]:
df.at[0,'Genre']

'Action'

In [28]:
df.iat[5,3]

'Thriller'

In [30]:
# access comedy using both methods

df.at[8,'Genre']

'Comedy'

In [31]:
df.iat[8,3]

'Comedy'

### Filtering with Conditions

In [32]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [34]:
df[df['Year']>2018]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

---

In [35]:
# lets use loc and iloc just to practice

new_df = df[df['BoxOffice(INR Crore)'] > 500]

In [36]:
new_df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0

In [37]:
df.loc[1,'Genre']

'Action'

In [38]:
df.iloc[1,3]

'Action'

---

In [40]:
# Back to filtering

df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [41]:
# if i want to access '111'

df[df['BoxOffice(INR Crore)'] == 111 ]

                Actor       Film  Year     Genre  BoxOffice(INR Crore)  IMDb
5  Ayushmann Khurrana  Andhadhun  2018  Thriller                   111   8.3

In [42]:
# if want to access all action movies

df[df['Genre'] == "Action"]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
7,Hrithik Roshan,War,2019,Action,475,6.5
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

# Multiple Conditions (AND / OR) 
- for using multiple conditions at ones
- we use '&' and '|'

In [48]:
# to select best few movies among all on basis of BoxOffice(INR Crore) and IMDb

df[(df['BoxOffice(INR Crore)'] > 800) & (df['IMDb'] > 8)]

        Actor    Film  Year      Genre  BoxOffice(INR Crore)  IMDb
2  Aamir Khan  Dangal  2016  Biography                  2024   8.4

In [49]:
# movies with Genre Comedy or Horror comedy 

df[ (df["Genre"] == 'Comedy') | (df['Genre'] == "Horror Comedy")]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9

### USING MATH OPERATIONS

In [50]:
df.min()

Actor                   Aamir Khan
Film                     Andhadhun
Year                          2016
Genre                       Action
BoxOffice(INR Crore)           111
IMDb                           5.6
dtype: object

In [51]:
df.max()

Actor                   Vicky Kaushal
Film                              War
Year                             2023
Genre                        Thriller
BoxOffice(INR Crore)             2024
IMDb                              8.4
dtype: object

In [54]:
# provide the movie with max IMDb 
df['IMDb'].max()

8.4

In [55]:
# provide the least BoxOffice(INR Crore)

df['BoxOffice(INR Crore)'].min()

111

## Querying with .query()
- SQL like way to filter

In [61]:
# movie with 'action genre' and IMDb greater than 7

df.query('Genre == "Action" and IMDb > 7 ')

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [63]:
# creating column name as a variable 

col = "Year"
df.query(f"{col} > 2018")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [64]:
# print all details of movie "Pathaan"

df.query("Film == 'Pathaan'")

            Actor     Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023  Action                  1050   7.2

In [73]:
df.loc[0]

Actor                   Shah Rukh Khan
Film                           Pathaan
Year                              2023
Genre                           Action
BoxOffice(INR Crore)              1050
IMDb                               7.2
Name: 0, dtype: object

In [76]:
df.query("Year > 2017 and IMDb > 6.5")

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [77]:
# experiment session 
df['Actor']

0         Shah Rukh Khan
1            Salman Khan
2             Aamir Khan
3          Ranbir Kapoor
4          Ranveer Singh
5     Ayushmann Khurrana
6          Rajkummar Rao
7         Hrithik Roshan
8           Akshay Kumar
9          Kartik Aaryan
10          Varun Dhawan
11         Vicky Kaushal
Name: Actor, dtype: object

In [ ]:
df['Actor'].startswith()